/* General body styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure the body takes up the full height of the screen */
}

/* Styling for the main content */
main {
    flex: 1; /* Make sure the main content takes up the remaining space */
    padding: 2em; /* Some padding around the main content */
}

/* Header and navigation styling */
header {
    background: #33354f; /* A dark background for the header */
    color: #fff; /* Light text color */
}

nav {
    display: flex;
    justify-content: space-between; /* space out your logo and nav-links */
    align-items: center;
    padding: 1em 2em; /* some padding around the navigation items */
}

.logo h4 {
    margin: 0; /* Removes default margin from the h4 */
}

.nav-links {
    list-style: none; /* Removes bullet points from the list */
    padding: 0; /* Removes default padding */
}

.nav-links li {
    display: inline-block; /* Display links in a row */
    margin-left: 20px; /* Adds spacing between links */
    font-weight: bold; /* Bold font for the links */
}

.nav-links a {
    text-decoration: none; /* Removes underline from links */
    color: white; /* Sets the link color to white */
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.nav-links a:hover {
    color: #e41e9f;; /* Color when the mouse hovers over the link */
}

.name-highlight {
    color: #e41e9f; /* Highlight color for the name */
    font-weight: bold; /* Bold font for the name */
}
.footer {
    background: #33354f; /* A dark background for the footer */
    color: #fff; /* Light text color */
    text-align: center; /* Center align the text */
    padding: 1em 0; /* Some padding around the footer text */
    
}

/* Styling for the social media links */

.social-media-links::before {
    content: " "; /* Adds text before the social media links */
    display: block; /* Displays the text on a new line */
    border-top: white 1px solid; /* Adds a white border above the text */
    margin-bottom: 10px; /* Adds some space between the text and the links */
}

.social-media-links {
    display: flex; /* This makes it a flex container */
    align-items: center; /* Centers items vertically */
    justify-content: flex-start; /* Aligns items to the start horizontally */
    flex-wrap: wrap; /* Allows items to wrap to next line if needed */
    background: #33354f;
    color: #fff;
    padding: 1em 2em;
}

.social-media-links a {
    text-decoration: none; /* Removes underline from links */
    color: white; /* Sets the link color to white */
    transition: color 0.3s; /* Smooth transition for hover effect */
    font-size: 25px;
}

.social-media-links a:not(:last-child) {
    margin-right: 10px; /* Adds spacing between the links */ 
    
}

/* Push the last link to the right */
.social-media-links a:last-child {
    margin-left: auto;
}

.social-media-links a:hover {
    color: #e41e9f;; /* Color when the mouse hovers over the link */
}

html {
    scroll-behavior: smooth;
}

