/* General body styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure the body takes up the full height of the screen */
}


/* Header and navigation styling */
header {
    background: #33354f; /* A dark background for the header */
    color: #fff; /* Light text color */
    position: fixed; /* Fix the header at the top of the page */
    top: 0; /* Align the top edge of the header with the top of the viewport */
    left: 0; /* Align the left edge of the header with the left of the viewport */
    width: 100%; /* Ensure the header spans the full width of the viewport */
    z-index: 1000; /* Ensure the header is above other content */
    padding: -4em 0em; /* Adjust the top/bottom padding to decrease size */

}

nav {
    display: flex;
    justify-content: space-between; /* space out your logo and nav-links */
    align-items: center;
    padding: 1em 2em; /* some padding around the navigation items */
}

.logo h4 {
    margin: 0; /* Removes default margin from the h4 */
}

.nav-links {
    list-style: none; /* Removes bullet points from the list */
    padding: 0; /* Removes default padding */
}

.nav-links li {
    display: inline-block; /* Display links in a row */
    margin-left: 20px; /* Adds spacing between links */
    font-weight: bold; /* Bold font for the links */
    position: relative; /* Position the underline relative to the link */
}

.nav-links li.active a {
    color: #e41e9f; /* Change the color to indicate active state */
    font-weight: bold; /* Optional: make it bold */
    
    
}

.nav-links a {
    text-decoration: none; /* Removes underline from links */
    color: white; /* Sets the link color to white */
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.nav-links a:hover {
    color: #e41e9f;; /* Color when the mouse hovers over the link */
    text-decoration: none; /* Removes underline on hover */
}

/* Underline effect on hover using ::after */
.nav-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 4px; /* Thickness of the underline */
    background: #e41e9f; /* Color of the underline */
    transition: width 0.3s;
    position: absolute; /* Position absolutely within the li */
    left: 0px;
    bottom: -32px; 
    
}

/* Active link styling with underline */
.nav-links li.active a::after {
    content: '';
    display: block;
    width: 100%; /* Set the underline to full width */
    height: 4px; /* Thickness of the underline */
    background: #e41e9f; /* Color of the underline */
    position: absolute; /* Position absolutely within the li */
    left: 0;
    bottom: -32px; /* Position the underline below the text */
}

/* Animate the underline width on hover and on active state */
.nav-links a::after,
.nav-links li.active a::after {
    transition: width 0.3s;
}

/* Animate the underline width on hover */
.nav-links a:hover::after {
    width: 100%; /* Full width of the text */
}

.name-highlight {
    color: #e41e9f; /* Highlight color for the name */
    font-weight: bold; /* Bold font for the name */
}
.footer {
    background: #33354f; /* A dark background for the footer */
    color: #fff; /* Light text color */
    text-align: center; /* Center align the text */
    padding: 1em 0; /* Some padding around the footer text */
    
}

/* Styling for the social media links */

.social-media-links::before {
    content: " "; /* Adds text before the social media links */
    display: block; /* Displays the text on a new line */
    border-top: white 1px solid; /* Adds a white border above the text */
    margin-bottom: 10px; /* Adds some space between the text and the links */
}

.social-media-links {
    display: flex; /* This makes it a flex container */
    align-items: center; /* Centers items vertically */
    justify-content: flex-start; /* Aligns items to the start horizontally */
    flex-wrap: wrap; /* Allows items to wrap to next line if needed */
    background: #33354f;
    color: #fff;
    padding: 1em 2em;
}

.social-media-links a {
    text-decoration: none; /* Removes underline from links */
    color: white; /* Sets the link color to white */
    transition: color 0.3s; /* Smooth transition for hover effect */
    font-size: 25px;
}

.social-media-links a:not(:last-child) {
    margin-right: 10px; /* Adds spacing between the links */ 
    
}

/* Push the last link to the right */
.social-media-links a:last-child {
    margin-left: auto;
}

.social-media-links a:hover {
    color: #e41e9f;; /* Color when the mouse hovers over the link */
}

html {
    scroll-behavior: smooth;
}

/* Styling for the carousel dot */
.carousel-indicators [data-bs-target] {
    /* Styles for all dots */
    background-color: transparent; /* Make the dot's background transparent */
    border: 1px solid #fff; /* White border for the dot */
    border-radius: 100%; /* Round the corners to make it circular */
    width: 15px; /* The width of the dot */
    height: 15px; /* The height of the dot */
    margin: 0 2px; /* Spacing between dots */

}

.carousel-indicators [data-bs-target="#demo"].active {
    /* Styles for the active dot */
    background-color: #e41e9f; /* White background for the active dot */
}

/* For carousel button styling */
.custom-button {
    display: inline-block;
    background-color: transparent; /* Your button color */
    color: white; /* Text color */
    text-align: center;
    padding: 0.375rem 0.75rem;
    border: 2px solid white; /* Border color */
    border-radius: 5px;
    text-decoration: none; /* Removes the underline from links */
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
                border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Smooth transition for mouse hover effect */
  }
  
  .custom-button h3 {
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    display: inline-block; /* Center the button inside the carousel-caption */
    margin: 0; /* Remove the default margin of h3 */
 }
  
  .custom-button:hover,
  .custom-button:focus {
    background-color: #e41e9f; /* Darker shade for hover state */
    color: white; /* Keeps text color white on hover */
    text-decoration: none; /* Ensures no underline appears on hover */
  }
  
  
  /* Add responsive behavior as needed */
  @media (max-width: 768px) {
    .custom-button {
      padding: 0.25rem 0.5rem;
      font-size: small;
    }
  }
  
/* For carousel caption styling */
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0.5); /* Added background color for readability */
    border-radius: 8px; /* Rounded corners for the caption background */
}



.carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover; /* Cover the container with the image without distorting it */
    object-position: 50% 18%; /* Center the image within the container */
    opacity: 0.9;
  }

/* Styling for the the animation about me */
.sectiontitle{
    position: relative;   
}

.sectiontitle h1{
    position: relative;
    left: 3px;
}
.sectiontitle::before {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 10%;
    width: 100px;
    height: 5px;
    background-color: #e41e9f;
    border-radius: 2px;
}

.sectiontitle::after {
    position: absolute;
    content: "";
    bottom: 10px;
    height: 5px;
    width: 6px;
    background-color: #EEF9FF;
    animation: section-title-run 5s infinite linear;
}

@keyframes section-title-run {
    0% { left: 0; }
    50% { left: 100px; } /* Change 100px to the distance you want the animated element to move */
    100% { left: 0; }
  }

/* Styling for front page image */




